.movie-detail {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  h2 {
    margin-bottom: 1rem;
  }
  a {
    text-align: left;
  }
  img {
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: 500px) {
  .movie-detail {
    height: 100%;
    vertical-align: center;
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: 2rem;
      margin-bottom: 2rem;
    }
    .stats-container {
      text-align: left;
    }
  }
}